<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt3 pb-2 mb-3 border-bottom">
    <header class="navbar sticky-top flex-md-nowrap p-0 shadow">
    <!-- <input class="form-control w-100" type="text" placeholder="Search" arialabel="Search"> -->
    <select class="form-select" >
            <option></option>
            <option value="abierta">Abierta</option>
            <option value="en proceso">En proceso</option>
            <option value="cerrada">Cerrada</option>
        </select>
    </header>
</div>
